<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Daily Task List Update</title>
	</head>
	<body>
		<center>
			<table>
				<tr>
					<td>
						<table>
							<tr>
								<td>
									<table>
										<tr>
											<td>
												<table>
													<tr>
														<td>
															<div>
